.Hub {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Hub button {
  height: 25vmin;
  width: 50vmin;
  border: 1p;
  outline: none;
  background-color: #1CA0CF;
}
